@tailwind base;
@tailwind components;
@tailwind utilities;

*:-webkit-autofill,
*:-webkit-autofill:hover,
*:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit !important;
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    transition: background-color 5000s ease-in-out 0s;
}
